
.card {
    position:relative;
    display: block;
    height: 100%; 
    border-radius: 10px;
    padding: 0rem;
    background: var(--card-background);
    box-shadow: var(--shadow-4);
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height:auto;
}

/* code from here: https://codepen.io/seyedi/pen/zYoeLEv?editors=1100 */

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 10px;
    background-color: var(--card-background);      
    transform: translateY(100%);
    transition: .8s ease-in-out;
}

.card:hover .card-overlay {
    transform: translateY(0);
}

.card-text {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0.8em;
    border-radius: 10px;
    background-color: var(--card-background);
    transform: translateY(-100%);
    transition: .8s ease-in-out;
}

.card:hover .card-text {
  transform: translateY(0);
}

.card-title {
    font-family: "averia_serif_librebold";
    font-size: 1.3em;
    text-decoration: none;
}
.card-author {
    font-family: "averia_serif_libreitalic";
    font-size: 0.8em;
    color: var(--accent-color);
    text-decoration: italic;
}

.article-tags {
    margin: 2%;
}


.description {
    margin: 3%;   
}

.first-card {
    font-size: 1em;
    padding: 0 7% 0 7%;
    
}

.first-card> p:first-child { font-size: 2em;}

.Season1 {
    box-shadow: var(--shadow-3);
    background-color: var(--card-background-other);
    .card-overlay {
	background-color: var(--card-background-other);
    }
    .card-text {
	background-color: var(--card-background-other);
    }
}

