@font-face {
  font-family: 'Mourier Regular';
  src: local(''),
       url('/fonts/Mourier-Regular.woff2') format('woff2'),  
       url('/fonts/Mourier-Regular.woff') format('woff');   
}

@font-face {
    font-family: 'averia_librebold';
    src: url('averialibre-bold.woff2') format('woff2'),
         url('averialibre-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'averia_libreitalic';
    src: url('/fonts/averialibre-italic.woff2') format('woff2'),
         url('/fonts/averialibre-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'averia_libreregular';
    src: url('/fonts/averialibre-regular.woff2') format('woff2'),
         url('/fonts/averialibre-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'averia_serif_librebold';
    src: url('/fonts/averiaseriflibre-bold.woff2') format('woff2'),
         url('/fonts/averiaseriflibre-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'averia_serif_libreitalic';
    src: url('/fonts/averiaseriflibre-italic.woff2') format('woff2'),
         url('/fonts/averiaseriflibre-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'averia_serif_libreregular';
    src: url('/fonts/averiaseriflibre-regular.woff2') format('woff2'),
         url('/fonts/averiaseriflibre-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'averia_serif_librelight';
    src: url('/fonts/averiaseriflibre-light.woff2') format('woff2'),
         url('/fonts/averiaseriflibre-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
