footer { display: flex;
          flex-flow: row wrap;          
          font-size: 1rem;
          justify-content: center;
          gap: 10px;
          margin: 10px;
       }
.site-footer { text-align: center; }
