footer { display: flex;
         flex-flow:row;
         font-family: 'averia_serif_librelight';
         font-size: 0.7rem;
         gap: 10px;
         padding: 2% 20% 2% 20%;
         background-color: #eee;
       }
.copyright {text-align: left;
            padding-right: 10px;
            font-family: 'averia_serif_librebold';
           
           }
.site-footer { text-align: center; }
.credits {text-align: right;
          padding-left:10px;}
