/* Front page */

main.front-page {
    display: grid;
    grid-template-columns: autofit;
    @media only screen and (max-width: 1170px)
    {
        grid-template-columns: 1fr;
    }
    justify-items: center;
}

#homepage {
    display:grid;
    align: center;
    grid-template-columns: repeat(4, 10em);
    grid-template-rows: repeat(4, 10em);
    grid-template-areas:
     	"letterL letterA letterB letterY"
     	"letterR letterI letterN letterT"
     	"letterH letterP letterR2 letterO"
     	"letterJ letterE letterC letterT2";
    grid-gap: 0;
    place-items: center;
    @media only screen and (max-width: 620px)
    {
        grid-template-columns: repeat(4, 6em);
        grid-template-rows: repeat(4, 6em);
        }
    
}

.character {
    font-weight: 800;
    font-size: 12.5em;
    color: var(--accent-color);
    @media only screen and (max-width: 620px) {
        font-size: 8em;
    }
    font-family: 'Mourier Regular', Arial, sans-serif;
    text-align: center;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    z-index:0;

}

.character:hover {
    transform: rotate(90deg) translateY(-6.2%) translateX(4%);
    color: black;
}



    
    
