
// .tag {
//     font-family: averia_serif_librelight;
//     display: inline-block;
//     font-size: 0.6em;
//     margin: 1px 0px 1px 0px;
//     padding: 5px;
//     background: #eee;
//     border-radius: 10px;
//     border: 1px solid gray;
// }

// .tag { text-decoration: none; color: black;
//        transition: all ease-in 1.5s
//      }

// .tag:hover { background: black;
//              }


.tag {
  display:inline-block;
  text-decoration:none;
  font-size: 0.8em;
  color:var(--accent-color);
  background-color:transparent;
  border: 0.5px var(--accent-color-darker) solid;
  border-radius: 10px;  
  padding: .2em .8em;
  margin:3px;
  background-size: 200% 100%; 
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.tag:hover {
  color: #ffffff;
  background-color: var(--accent-color-darker);
  background-position: -100% 100%;
}

.tag-block {

}
