$defaultTagBackgrounds: #F25C54, #F27059, #F4845F, #F79D65, #F7B267;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;
$scheme1: #e23212, #f1f7ed, #7b5e7b, #227c9d, #dfbbb1;
$scheme2:#f7f7ff, #280003, #19323c, #cb4a2a, #04b59c;
$scheme2:#e23212, #98120b, #04b59c, #ffffff, #000000

:root {
    --body-background: #fff;
    --accent-color: #E23212;
    --accent-color-darker: #98120B;
    --accent-color-tertiary:#04b59c;
    --accent-color-text: #fff;
    --body-text-color: #5c5c5c;
    
    --card-background: #fff;
    --card-background-selected: #6464;
    --card-background-other: #F9F0F2;
    --card-text-color-main: #000;
    --card-text-color-secondary: #747474;
    --card-text-color-tertiary: #bababa;
    
    --card-separator-color: rgba(218, 218, 218, 0.5);
    --shadow-1: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --shadow-2: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    --shadow-3: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --shadow-4:  rgba(0, 0, 0, 0.1) 0px 10px 50px;
    --shadow-5: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}





