{{ define "main" }}

<main class="single">
  {{- partial "masthead3.html" . -}}  
  <article class="single-article">
    <div class="featured-image__article">
      {{ if .Params.images }}
      <a href="/{{ index .Params.images 0 }}"><img src="/{{ index .Params.images 0 }}" alt="{{ .Title }}" /></a>
      {{ end }}
    </div>
      <div class="article-text">
      <div class="article-title">{{ .Page.Title }} </div>
      <div class="article-author">{{- partial "authors.html" . -}}</div>
      <div class="article-content">
        {{ .Content }}
      </div>
    </div>
  </article>
        {{ if .Params.imagecredits }}
      <div class="image-credits">{{ .Params.imagecredits | safeHTML }}</div>
      {{ end }}

</main>

{{ end }}
