      <!-- This needs to be fixed -->
      {{ if .Params.author }}
      {{ $authors := .Params.author }}
      {{ if eq (len ($authors)) 1 }}
      {{ range $authors}}
      <span class="article-author"> {{ . }} </span>
      {{ end }}
      {{ else if eq (len $authors) 2}}
      <span class="article-author"> {{ index $authors 0}} and {{ index $authors 1}} </span> 
      {{ else if gt (len $authors) 2}}
      <span class="article-author"> {{ index $authors 0}}, {{ index $authors 1}}, and {{ index $authors 2}} </span> 
      {{ end }}
      {{ end }}
