<section class='card {{ if .Params.categories}}{{ delimit .Params.categories " " }}{{ end}}'>
    <div class="card-image">
      <a href="{{ .Permalink }}">
        {{ if .Params.images }}<img src="/{{ index .Params.images 0 }}" alt="Featured image for {{ .Page.Params.Title }} " />
      {{ end }}
    </div>
    <div class="card-overlay">
      <div class="card-text">
        <h3 class="card-title">{{ .Title }} </h3>
<span class="card-author"> {{- partial "authors.html" . -}}</span>
      </div>
      
      <section class="card-description-tags">
        <div class="description">
          {{ if .Params.description }}
          {{ $description := .Params.description }}
          <p>{{$description}}</p>
          {{ end }}
        </div>
    </a>
        {{- partial "tags.html" . -}}
      </section>
          {{- partial "categories.html" . -}} 
    </div>
</section>
