 <section class="masthead3">
     {{ if (isset .Site.Params "logourl") }}
     <span class="logo"><a href=""><img src="{{ .Site.Params.logourl | relURL }}" alt="{{ .Site.Params.description }}" /></a>
     </span>
     {{ end }}
     <section class ="category-title">
       {{ if .Params.Categories }}
       {{ $categories := .GetTerms "categories" }} 
       <h1> You are in the {{ range $categories }} <a href="{{ .Permalink }}"><span class="tag">{{  .Data.Term }}</span></a> {{ end }} maze. </h1>
       {{ if .Params.Tags }}
       <h3> You see passages leading to: </h3>
       <div>{{- partial "tags.html" . -}}</div>
       {{ else }}
       <h3> No passages lead away from here. </h3>
       {{ end }}
  {{ end }}
</section>
 </section>
