

<div class="hamburger-menu">
 <input id="navi-toggle" class="checkbox" type="checkbox"  />
  <label class="button" for="navi-toggle" >
    <span class="icon">&nbsp;</span>
  </label>

<div class="menu__nav">
   <ul class="menu__list">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li><a class="link menu__item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
      {{ end}}
   </ul>    
</div>

</div>

 
