
{{ define "main" }}
<main class="front-page">
  <section id="homepage">
      <div class="letterL character"><a href="/about">L</a></div>
      <div class="letterA character"><a href="/about">A</a></div>
      <div class="letterB character"><a href="/about">B</a></div>
      <div class="letterY character"><a href="/about">Y</a></div>
      <div class="letterR character"><a href="/about">R</a></div>
      <div class="letterI character"><a href="/about">I</a></div>
      <div class="letterN character"><a href="/about">N</a></div>
      <div class="letterT character"><a href="/about">T</a></div>
      <div class="letterH character"><a href="/about">H</a></div>
      <div class="letterP character"><a href="/about">P</a></div>
      <div class="letterR2 character"><a href="/about">R</a></div>
      <div class="letterO character"><a href="/about">O</a></div>
      <div class="letterJ character"><a href="/about">J</a></div>
      <div class="letterE character"><a href="/about">E</a></div>
      <div class="letterC character"><a href="/about">C</a></div>
      <div class="letterT2 character"><a href="/about">T</a></div>
  </section>
</main>
{{ end }}

